h1 create post

form(action="create" method="POST" enctype="multipart/form-data")
    lable
    input(type="text" name="name" value="")
    br
    br
    lable
    input(type="text" name="conten" value="")
    br 
    br
    lable(for="imgeFile")
    input(type="file" name="imgeFile" )
    br
    br
    button them