extends ./layout/homeComon

block conten
    input(type="checkbox" name="")
    span.icon
    ul
        li
            a(href="#temple1") 3Color
        li
            a(href="#temple2") Action
        li
            a(href="#temple3") About
        li
            a(href="#temple4") bb
        li
            a(href="#temple5") abbbout
        li
            a(href="/create") Admin
    section#home
        div.middle
            a(href='#section2')
                div.mous
    section#testimonial
        h2#temple1 3COLOR
        p Skiptomain
        div.middle
            a(href='#temple2')
                div.mouse
    //section 3
    section#pao
        h2#temple2
        br
        h2(style='color:#004185;') Action
        div.margin-baner
            h1.boder-multipage
            span W
            | hy should you learn code
            p#p
            | THE ULTIMATE THEME TO SELL YOUR BOOK. SINGLE, MULTIPLE, DIGITAL
            a(style='color:#004185; font-size: 12px; letter-spacing: 2px; margin-top: -100px;')
                br
                | ................................................................................................................................................
            .table1
            div
                div
                a(href='', style='color:#004185; ') Adventure
                br
                a(href='/post', style='color:#004185; ') post
                h5#text-table1
                | Khó khăn đầu tiên ai cũng gặp phải khi học lập trình: Bắt đầu từ đâu? Color có những tài liệu học theo trình tự giúp bạn trở thành developer từ con số 0.
        div.middle
            a(href='#temple3')
                div.mouse
    //section 4
    section#pao
        h2#temple3 ABOUT
        .margin-baner
            p#p
            | THE ULTIMATE THEME TO SELL YOUR BOOK. SINGLE, MULTIPLE, DIGITAL
            a(style='color:#faab9f; font-size: 12px; letter-spacing: 2px; margin-top: -100px;')
                br
                | ................................................................................................................................................
        div.middle
            a(href='#temple4')
                div.mouse
    section#pao
        h2#temple4 BBB
        p Skiptomain contentHome DocumentationExample
        div.middle
            a(href='#temple5')
                div.mouse
    section#pao
        h2#temple5 BBB
        div.end-game1
            table Find us here
                tr
                    td
                        i.fab.fa-facebook-f.fa-lg
                    td
                        i.fab.fa-twitter.fa-lg
                    td
                        i.fab.fa-google-plus-g.fa-lg
                    td
                        i.fab.fa-instagram.fa-lg
            table Localization
                tr Envato
                tr Level 13, 2 Elizabeth
                tr Victoria 3000
                tr Australia
            br
            hr
            a © 2019 Thanh Tuan
        div.middle
            a(href='#temple1')
                div.mouse
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

    script.
        window.sr = ScrollReveal();
            sr.reveal('.btn', {
            duration: 2000,
            origin: 'top',
            distance: '60px',
            });
            sr.reveal('#bio', {
            duration: 2000,
            origin: 'bottom',
            distance: '-30px',
            viewFactor: 0.1,
            reset: true
            });
            sr.reveal('#testimonial', {
            duration: 2000,
            origin: 'left',
            distance: '20px',
            viewFactor: 0.1,
            reset: true
            });
            sr.reveal('#elsalvador', {
            duration: 2000,
            origin: 'bottom',
            viewFactor: 0.1,
            reset: true
            });
            sr.reveal('#therose', {
            duration: 2000,
            origin: 'bottom',
            viewFactor: 0.1,
            reset: true
            });
            sr.reveal('#thecouple', {
            duration: 2000,
            origin: 'bottom',
            viewFactor: 0.1,
            reset: true
            });
            sr.reveal('#pao', {
            duration: 2000,
            origin: 'right',
            distance: '100px',
            viewFactor: 0.1,
            reset: true
            });
            


                        